# Dependencies
node_modules/

# Build output
dist/
coverage/

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
desktop.ini

# Env
.env
.env.*
!.env.example

# Syncthing
.stfolder
.stignore
